@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: black;
  margin: 10px;
  text-align: center;
  background-color: #ABABAB;
  font-family: 'Consolas', monospace;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  filter: contrast(1.5) blur(9px) saturate(0.2);
  z-index: -1;
}

h4, h6, p, h2 {
  margin: 10px;
}

h6 {
  letter-spacing: 3px;
  font-size: 10px;
  opacity: 0.5;
}

h2, h4 {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  letter-spacing: 0;
  margin-top: 17px;
  font-weight: 500;
  color: white;
}

h4 {
  font-weight: 400;
  color: black;
}

mark {
  background-color: transparent;
  color: #471616;
}

.bandeira {
  filter: drop-shadow(9px 20px 17px rgba(0, 0, 0, 0.6));
  display: block;
  margin: 10px auto;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  color: black;
  font-size: 12px;
}

.link-telegram {
  color: #076BFF;
  font-size: 10px;
}

.youtube {
  color: red;
  font-size: 10px;
}

.container {
  display: flex;
  align-items: center;
  margin-top: -18px;
}

.balaclava {
  margin: 5px;
}

.estats {
  filter: saturate(0) brightness(0.7) contrast(3);
  margin-top: -10px;
  align-items: center;
}

.audio-player {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 0;
  width: 300px;
  margin: 20px auto;
  color: black;
}

.play-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 0;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #444;
}

.progress {
  flex-grow: 1;
  margin: 0 10px;
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar {
  height: 100%;
  background-color: #000;
  width: 0;
}
